/*
CSS for MySurvey.com webpage
*/



body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: #e2edff;
  line-height: 125%;
  width:100%;
  padding: 0;
  min-height: 100%;

}

h1, h2, h3, a {
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;

}

h1 {
  font-size: x-large;
  background-color: navy;
  color: white;
  padding-top: 2em;
  padding-bottom: .2em;
  padding-left: .8em;
  margin: 0;
  background: navy ;
}

h2 {
  color: navy;
  font-size: 140%;
  font-weight: normal;
  padding-top: 15px;
}

li {
  font-size: small;
  list-style-type: none;
}

p {
  font-size: 16px;
  color: navy;
}

#tagline p {
  font-style: italic;
  font-family: Georgia, Times, serif;
  border-top: 3px solid #7da5d8;
  border-bottom: 3px solid #7da5d8;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-left: .8em;
  margin: 0;
  background: #bed8f3 ;
}

em {
  text-transform: uppercase;
}


a:link {
  color: navy;
  font-size: 110%;
  font-weight: normal;
}

a:hover {
  text-decoration: none;
  color: white;
  background-color: navy;
}


h2, ul {
  margin-top: 15px;
}

header {
  border-top: 3px solid #7da5d8;
}


.logo {
  width:200px;
  padding:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}
a:hover .logo {
  opacity: 0.8;
  transform: scale(1.05);
  
}
.screenshot {
  padding:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}
a:hover .screenshot {
  opacity: 0.8;
  transform: scale(1.05);
  
}

fieldset {
  border: 3px solid navy;
  
}
#bodycontent {
  padding-left:15%;
  padding-right:15%;
 
}
form {
  margin-top:30px;
}
form.join fieldset {   
  border: 2px solid navy;   
  padding: 10px; 
}  

form.join legend {   
  font-weight: bold;   
  font-size: small;   
  color: navy;   
  padding: 5px; 
}

form.join {   
  padding: 0;   
  margin: 0;   
  margin-top: -15px;
  line-height: 150%;
}

form.join label {
  font-weight: bold;
  font-size: small;
  color: blue;
}

form.join label.fixedwidth {   
  display: block;   
  width: 240px;   
  float: left;
}
.input {
  margin-top:3px;
  margin-bottom:10px;
  padding:6px;
  border:solid;
  border-radius:5px;
  border-color:navy;
  display:block;
}

.buttonarea input {   
  text-align: center;   
  padding-left:30px;
  padding-top:10px;
  padding-bottom:10px;
  padding-right: 30px;   
  background-color:navy; 
  border: 2px solid navy;
  border-radius:5px;
  color: white;
  font-weight: bold;
  margin-top:20px;
  margin-bottom:20px;
}

 .buttonarea:hover  input {
  background-color:white; 
  color:navy;
  transform: scale(1.05);
}

.buttonarea {
  text-align:center;
}

/*
This section deals with the position of items on the screen.
It uses absolute positioning - fixed x and y coordinates measured from the
top-left corner of the browser's content display.
*/

  #header {
  position: absolute;
}

 #bodycontent {
  top: 107px;
}

#bodycontent {
  left: 200px;
  margin-bottom:50px;
  
}

#header {
  width: 100%;
}


footer {
  position:relative;
  width: 100% !important;
  background-color:navy;
  color: white;
  text-align: center;
  height:40px;
  padding:30px;
  bottom:0px;
  margin-top:50px;
  margin-bottom:0px !important;
}